.menu-item {
    display: flex;
    place-items: center;
    margin: 5px;
    background-color: rgba(255, 130, 62, 0.29);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 100px;
    width: 100px;
}

.menu-item>img {
    width: 80%;
    border-radius: 5px;
}

.menu-item:hover {
    background-color: #e6e6e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item:active {
    border: 2px solid #480241;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

html {
    height: 100dvh;
}

body {
    height: 100dvh;
    background-image: linear-gradient(rgba(72, 2, 65, 0.7),
            rgba(255, 130, 62, 0.7)),
        url('/images/background_texture.png');
    background-blend-mode: add;
    background-attachment: fixed;
    overflow: hidden;
}

#back_img {
    object-position: right;
    opacity: 50%;
}

face-render {}

/* .menu-item-icon {
    margin-right: 10px;
    font-size: 1.2em;
    color: #555;
}

.menu-item-text {
    font-size: 1em;
    color: #333;
} */