@import 'tailwindcss';

@theme {
    --color-custom_violet: #480241;
    --color-custom_orange: #ff823e;
    --color-button_bg: #48024188;

    --font-title: 'Junigarden_swash';
    --font-body: 'Junigarden_serif';
}

@font-face {
    font-family: 'Junigarden_swash';
    src: url('../font/JunigardenSwash.otf') format('opentype');
}

@font-face {
    font-family: 'Junigarden_serif';
    src: url('../font/JunigardenSerif.otf') format('opentype');
}
